html {
  font-family: "Catamaran", sans-serif;
  color: #44331c;
  background-color: #fffaf4;
}

header, footer {
  background-color: #cded9e;
}

a {
  color: #44331c;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #44331c;
}

.card {
  border: 2px dashed #44331c;
  border-radius: 15px;
  background-color: #fffaf4;
}

.card-rescues {
  box-shadow: -2px 4px #e2cdb5;
}

.btn-ghost {
  color: #44331c;
  border: 1px solid #44331c;
}

.btn:hover {
  background-color: #e1f2c9;
}

.banner {
  position: relative;
}

.home-img {
  position: relative;
}

.callout {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 47%;
}

.btn-callout {
  background-color: #a8ea46;
  border-radius: 7px;
  border-style: none;
}

.btn-callout:hover {
  background-color: #fff;
}

.callout p {
  color: #e1f2c9;
  text-shadow: -1px 1px #44331c;
}

.stories {
  background-color: #e1f2c9;
}
